header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .logout-btn {
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

